@model TS.PersonManager.Business.ViewModels.PersonViewModel

<div class="text-center mb-3">
    @if (!string.IsNullOrEmpty(Model.FullPath))
    {
        <img src="@Model.FullPath" alt="Person Image" class="img-fluid rounded-circle" style="max-width: 200px; max-height: 200px;" />
    }
    else
    {
        <img src="~/images/avatar-default-icon.png" alt="Default Image" class="img-fluid rounded-circle" style="max-width: 200px; max-height: 200px;" />
    }
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.DateOfBirth.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <th>Image Upload</th>
            <td>
                @if (!string.IsNullOrEmpty(Model.FullPath))
                {
                    <img src="@Model.FullPath" alt="Person Image" style="max-width: 50px; max-height: 50px;" />
                }
                else
                {
                    <span>No image uploaded</span>
                }
            </td>
        </tr>
    </tbody>
</table>