@model TS.PersonManager.Business.ViewModels.PersonViewModel

<div class="text-center mb-3">
    <img src="@(Model.FullPath ?? Url.Content("~/images/avatar-default-icon.png"))"
         alt="Profile Image"
         class="rounded-circle img-thumbnail"
         style="width: 175px; height: 175px; object-fit: cover;"
         onerror="this.src='@Url.Content("~/images/avatar-default-icon.png")'" />
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.DateOfBirth.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>
    </tbody>
</table>